ACTIVE_CAMERA_LISTEN_HOST=0.0.0.0
ACTIVE_CAMERA_LISTEN_PORT=8084
T0_STREAM_URL=http://127.0.0.1:8080/?action=stream
T0_SNAPSHOT_URL=http://127.0.0.1:8080/?action=snapshot
T1_STREAM_URL=http://127.0.0.1:8081/?action=stream
T1_SNAPSHOT_URL=http://127.0.0.1:8081/?action=snapshot
ACTIVE_CAMERA_TOKEN=
